<div class="container">
  <h2>Employee Leave Portal</h2>

  <input
  nz-input
  [(ngModel)]="searchTerm"
  (ngModelChange)="applyFilter()"
  placeholder="Search by name"
/>

<nz-table
  [nzData]="filteredEmployees"
  [nzLoading]="loading"
  [nzBordered]="true"
  [nzSize]="'middle'"
  [nzScroll]="{ x: '600px' }"
>
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Leave Days</th>
      <th>Leaves</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of filteredEmployees">
      <td>{{ emp.name }}</td>
      <td>{{ emp.totalLeaveDays }}</td>
      <td *ngFor="let leave of emp.Leaves">
        {{ leave.startDate | date: 'shortDate' }} - {{ leave.endDate | date: 'shortDate' }}
        <button nz-button nzType="link">Edit</button>
        <button nz-button nzType="text" nzDanger>Delete</button>
      </td>
      <td><button nz-button nzType="link">add Leaves</button></td>
    </tr>
  </tbody>
</nz-table>

<!-- Leave Form //TODO - Implement https://stackblitz.com/run?file=src%2Fapp%2Fapp.component.ts-->
<div *ngIf="selectedEmployee" class="mt-4">
  <h4>Editing Leaves for: {{ selectedEmployee.name }}</h4>
  <employee-form-component
    (cancel)="cancelEdit()"
  ></employee-form-component>
</div>
